<div class="stories">

	<div class="carousel"> 
		<div class="carousel-button-left"><a href="#"><i class="fa fa-play" aria-hidden="true"></i></a></div> 
		<div class="carousel-button-right"><a href="#"><i class="fa fa-play" aria-hidden="true"></i></a></div> 
		 <div class="carousel-wrapper"> 
		
			<div class="carousel-items"> 
				<div class="carousel-block">
					<div class="work">
						<img src="img/slider/slider-1.png" alt="">
						<div class="info">
							<a href="#"><h2><i class="fa fa-play" aria-hidden="true"></i>cinema</h2></a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illo rem voluptatem.</p>
						</div>
					</div>
				</div>
				<div class="carousel-block">
					<div class="work">
						<img src="img/slider/slider-2.png" alt="">
						<div class="info">
							<a href="#"><h2><i class="fa fa-play" aria-hidden="true"></i>travel</h2></a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illo rem voluptatem.</p>
						</div>
					</div>
				</div>
				<div class="carousel-block">
					<div class="work">
						<img src="img/slider/slider-3.png" alt="AVON">
						<div class="info">
							<a href="#"><h2><i class="fa fa-play" aria-hidden="true"></i>television</h2></a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illo rem voluptatem.</p>
						</div>
					</div>
				</div>
				<div class="carousel-block">
					<div class="work">
						<img src="img/slider/slider-1.png" alt="">
						<div class="info">
							<a href="#"><h2><i class="fa fa-play" aria-hidden="true"></i>cinema</h2></a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illo rem voluptatem.</p>
						</div>
					</div>
				</div>
				<div class="carousel-block">
					<div class="work">
						<img src="img/slider/slider-2.png" alt="">
						<div class="info">
							<a href="#"><h2><i class="fa fa-play" aria-hidden="true"></i>cinema</h2></a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illo rem voluptatem.</p>
						</div>
					</div>
				</div>
				<div class="carousel-block">
					<div class="work">
						<img src="img/slider/slider-3.png" alt="AVON">
						<div class="info">
							<a href="#"><h2><i class="fa fa-play" aria-hidden="true"></i>cinema</h2></a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illo rem voluptatem.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>