<header>
	<div class="container ">	
		<div class="img-responsive rainbow"></div>
		
		<div class="main-container">
		<div class="img-responsive rainbow-right ">
			<img src="img/right-rainbow.png" alt="">
		</div>
			<div class="head-wrapp">
				<div class="row no-gutters align-items-end">
					<div class="col-md-4 col-lg-3">
						<span class="logo">MagBlog</span>
					</div>
					<div class="col-12 col-md-8 col-lg-6">
						<div class="search">
							<form action="">
								<div class=" row no-gutters justify-content-end">
									<div class="col-12 col-sm" >
										<input type="text" class="search-input">
									</div>
									<div class="col-12 col-sm-auto">
										<input type="submit" value="search">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="social wrap">
							<ul class="social">
								<li><a href=""><img src="img/rss-ico.png" alt="rss"></a></li>
								<li><a href=""><img src="img/fcb-ico.png" alt="facebook"></a></li>
								<li><a href=""><img src="img/twt-ico.png" alt="twitter"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<nav>
							<ul class="navigate">
								<a href="#"><li>home</li></a>
								<a href="#"><li>cinema</li></a>
								<a href="#"><li>magazine</li></a>
								<a href="#"><li>cssauthor.com</li></a>
								<a href="#"><li>topmenu</li></a>
								<a href="#"><li>archives</li></a>
								<a href="#"><li>contact us</li></a>
							</ul>
						</nav>
					</div>
				</div>	
			</div>
		</div>
	</div>
</header>	